<% include head %>
  <ol class="breadcrumb">
    <li><%= group.name %></li>
  </ol>
  <div class="list-group">
    <% for (var w in group.works) { var work = group.works[w]; %>
      <a href="/texts/<%= group.name %>/<%= work.title %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= work.title %></h4>
      </a>
    <% } %>
  </div>
<% include foot %>
