<% include head %>
  <div class="list-group">
    <% ctsIndex.groups.forEach(function(group) { %>
      <a href="/texts/<%= group.name %>/" class="list-group-item">
        <h4 class="list-group-item-heading"><%= group.name %></h4>
      </a>
    <% }) %>
  </div>
<% include foot %>
